<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <title>MakersBnB</title>
</head>
<body>
  <div class="nav-bar">
    <div class="logo-container">
      <a href="/"><img src="/makers.png" alt="Logo for the MakersBnB"></a>
    </div>
    <div class="menu-container">
      
    </div>
  </div>
  <div class="landing_page">
    <div class="landing_page_text">
    <p class="header_index">Welcome to MakersBnB</p>
    <p>Created by: Monica, Sarah, Destin, Chang and Konrad.</p>
    <button class="list_button"><a href="/sign_up" class="index_button">Sign Up</a></button>
  <button class="list_button"><a href="/sign_in" class="index_button">Sign In</a></button>
  </div>
    <div class="gallery_parent">
    <div class='gallery'>
        <img src="/room_pics/1.jpg" alt="Chang's Palace">
        <img src="/room_pics/2.jpg" alt="Sarahs Beach Side">
        <img src="/room_pics/3.jpg" alt="Konrad's Gaff">
        <img src="/room_pics/4.jpg" alt="Monica's Castle">     
    </div>
    </div>
  </div>
</body>
</html>